@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
    font-family: "Fira Sans", sans-serif;
    color: whitesmoke;
    margin: 0;
    border-radius: 5px;
    border: none;
    padding: 4px 0 2px 0;
}

body {
    background: #858585 url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp") no-repeat;
    background-size: cover;
}

.main {
    margin: 5px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 139, 0.61);
    width: 60%;
    padding: 0 2%;
}

.title__text {
    text-align: center;
}

.form__info-input {
    width: calc(100% - 20px);
    padding: 10px;
}

.form__option-select {
    color: rgb(13, 13, 79);
    padding: 10px;
    width: 100%;
}

.form__radio {}

.form__radio {
    display: flex;
    flex-direction: column;
}

.form__radio-title {}

.form__radio-input {}

.form__check {}

.form__check_text_brackets {}

.form__check-title {}

.form__check-input {}

.form__check_style_blue {}

.form__comments {}

.form__comments-title {}

.form__comments-textarea {}

.form__submit {}

.form__submit_style_blue {
    background-color: rgba(60, 60, 210, 0.557);
    border-style: solid;
    border-color: rgba(86, 104, 163, 0.659);
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}