@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
    background: #858585 url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp") no-repeat;
    background-size: cover;
    font-family: "Fira Sans", sans-serif;
    color: whitesmoke;
}